<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    {{if gt .Score1 .Score2}}
        Score 1 > Score 2 
        <h4>{{gt .Score1 .Score2}}</h4>
    {{end}}

    {{if lt .Score1 .Score2}}
    Score 1 < Score 2
    {{end}}

    {{if eq .Score1 .Score2}}
    Score 1 = Score 2
    {{end}}

    {{if lt .Score1 10}}
    Last one: Score 1 < 10
    {{end}}
    <h1>Hello golang!{{.}}</h1>
</body>
</html>